<form class="form">
    <h1>Criando novo técnico</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" [formControl]="nome" required name="nome" matInput placeholder="Ex. Felipe Massa" >
        <mat-error *ngIf="nome.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" [formControl]="cpf" required name="cpf" [textMask]="{mask: mascaraCpf}" matInput placeholder="Ex. 068.010.820-35" >
        <mat-error *ngIf="nome.invalid">{{ errorValidCpf() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" [formControl]="telefone" required name="telefone" [textMask]="{mask: mascaraFone}" matInput placeholder="Ex. (48) 9 9995-9310" >
        <mat-error *ngIf="nome.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>

    
    <button (click)="navigateToCreate()" [disabled]="habilitarBotaoCreate()" mat-raised-button color="accent">SALVAR</button>

    <button (click)="navigateToCancel()" mat-raised-button color="warn">CANCELAR</button>

</form>
  